body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecalho{
    background-color: #FFD900;
    height: 118px;
    width: auto

}
#ccxp{
    margin-top: 30px;
    margin-left: 60px;
    height: 63px;
    width: 202px;
}
#section1{
    display: grid;
    grid-auto-flow: column;

}
.timer{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    height: 95px;
    align-items: center;
    color: #514988;
}
#reviva{
    background-color: #514988
}
#titulo{
    color: #F3C61F;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}
#subtitulo{
    color:  #ffffff;
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;

}
#texto{
    color: #ffffff;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 55px;
}
#maior{
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    font-weight: bolder;
    font-size: 30px;
    color: #E33881;
}
#video{
    margin-left: 6%;
    
}
#dias{
    color: #F3C61F;
    margin-left: 15px;
    text-shadow: #514988 1px 1px;
}
.cardDias{
    width: 180px;
   
}
#section2{
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 20px;
}

#botao{
    box-shadow: 2px 3px red;
    text-align: center;
    height: 105px;
    width: 400px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 100px;
    border: none;
    background-color: #514988;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 3px red
}

#section2 button:hover{
    color: #F3C61F;
}
footer{
    background-color: #484848;
    color: white;
    text-align: center;
    width: auto; 
}
.card-highlight{
   box-shadow: 5px 10px 10px 10px red; 
}

.card-selected{
    border: 5px solid green;
}

#form{
    background-color: #F3C61F ;
    height: 100px;
    text-align: center;
}

.inputMail{
    width: 300px;
    height: 40px;
    background-color:#514988;
    border: none;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: #ffffff;
}

.buttonMail{
    width: 100px;
    height: 41px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
}

.inputMail::placeholder{
    color: #ffffff;
    padding: 3px 15px;
}

.whats{
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 9999;
}

footer{
    padding: 10px;
}

/*=========================CONFIGURAÇÃO MOBILE==============================*/

@media only screen and (max-width: 600px){
   
#cabecalho{
   width: auto;
}
#ccxp{
    margin-left: 110px;
}

#section1{
    display: grid;
    grid-auto-flow: row;
    width:100px;
    text-align: center;
}
#maior{
 font-size: 28px;
 text-align: center;
 width: 400px;
}
#video{
    width: 380px;
    margin-left: 2px;
}
#reviva{
    width: 412px;
}
.timer{
    width: 400px;
}
#section2{
    display: grid;
    grid-auto-flow: row;  
}
#dias{
    text-align: center;
}
#cards{
    text-align: center;
}

.cardDias{
    margin-top: 20px;
}

#botao{
    width: 380px;
    margin-left: 15px;
}

#form{
    height: 150px;
}

.inputMail{
    margin-top: 20px;
    margin-bottom: 20px;
}

.whats{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    

}
    
}

